@model List<RoleViewModel>
@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary" asp-area="Admin" asp-controller="Roles" asp-action="AddRole">Rol Ekle</a>

<h1>Rol Listesi</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var roleViewModel in Model)
        {
            <tr>
                <td>@roleViewModel.Id</td>
                <td>@roleViewModel.Name</td>
            </tr>
        }
    </tbody>
</table>