@model UserInfoViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Kullanıcı Bilgileri</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.UserName</td>
            <td>@Model.Email</td>
        </tr>
    </tbody>
</table>