@model UserInfoViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Kullanıcı Bilgileri</h1>
<hr />

<div class="row">
    <div class="col-md-4 offset-md-4">
        <user-picture picture="@Model.Picture" width="75" height="75"/>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.UserName</td>
            <td>@Model.Email</td>
        </tr>
    </tbody>
</table>