@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Kullanıcı Giriş</h2>
        <hr />

        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

        <form asp-controller="Home" asp-action="SignIn" method="post">
            <div class="row mb-3">
                <label asp-for="Email" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input type="email" asp-for="Email" class="form-control">
                    <span class="text text-danger" asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Password" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input type="password" asp-for="Password" class="form-control">
                    <span class="text text-danger" asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-md-4 col-md-8 d-flex">
                    <div class="w-100">
                        <input type="checkbox" asp-for="RememberMe" class="form-check-input">
                        <label asp-for="RememberMe" class="col-md-4 col-form-check-label"></label>
                    </div>
                    <div class="w-50">
                        <a asp-controller="Home" asp-action="SignUp">Kayıt Ol</a>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


