@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Kullanıcı Kayıt Formu</h2>
        <hr />
        <form>
            <div class="row mb-3">
                <label asp-for="UserName" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="UserName" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Email" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input type="email" asp-for="Email" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Password" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input type="password" asp-for="Password" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="PasswordConfirm" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input type="password" asp-for="PasswordConfirm" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                </div>
            </div>

        </form>
    </div>
</div>

